/* palette de couleurs : 
#717171 : autre
#FFFFFF : texte
#000000 : fond
#FDB7D2 : accent, liens, etc
#9F1248 : accent 2
Background : Three.js ?
*/

body{
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

.container{
    height: 93vh;
    padding: 2em 2em;
}

.containerContained{
    position: relative;
    height: 100%;
    border: solid #FFFFFF 0.1em;
}

.backgroundThree{
    position:absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.webgl{
    height: 100%;
    width: 100%;
}

h1{
    font-weight: 100;
    font-size: 3em;
    padding: 0.5%;
}

.smallContain{
    display: flex;
    justify-content: flex-end;
}
.smallContainer{
    max-width: 700px;
    padding : 0 10px 0 10px;
}

.projects{
    position: absolute;
    width: 700px;
    max-width: 100%;
    bottom: 0px;
    right: 0px;
}

p, a, li{
    font-size: 0.9em;
    font-weight: 200;
    line-height: 1.1em;
    text-align: right;
    margin-bottom: 0.6em;
}

.pinkText{
    color: #FDB7D2;
}

/*.projectsList{
    list-style-type: none;
    font-size: 1em;
}*/

.socialLinks{
    display: flex;
    justify-items: left;
    padding: 0 0 20px 10px;
}

.socialIcon{
    background-color: #FFFFFF;
    max-width: 25px;
    height:auto;
}

.techno{
    opacity: 0%;
    transition: opacity 1s;
}

body:has(.projectDiscord:hover) .projectDiscordTechno {
    opacity: 100%;
    transition: opacity 1s;
}

body:has(.projectPortfolio:hover) .projectPortfolioTechno {
    opacity: 100%;
    transition: opacity 1s;
}

body:has(.projectOClock:hover) .projectOClockTechno {
    opacity: 100%;
    transition: opacity 1s;
}