/* palette de couleurs : 
#717171 : autre
#FFFFFF : texte
#000000 : fond
#FDB7D2 : accent, liens, etc
#9F1248 : accent 2
Background : Three.js ?
*/

body{
    color: #492031;
    font-family: 'Raleway', sans-serif;
    background-image: url('/imgs/background2.png');
    background-size: cover;
}

.webgl{
    height: 100%;
    width: 100%;
}

@media (min-width: 720px) {
    #aboutMe, #project1 {
        grid-column: span 2;
        grid-row: span 2; 
    }
}

.socialLinks{
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
}

.socialIcon{
    max-width: 2rem;
    height: auto;
}

h1 {
    font-weight: 100;
    font-size: 2.5em;
    margin-bottom: 0.6em;

    @media (min-width: 720px) {
        font-size: 3em;
    }
}

h3 {
    font-weight: 400;
    margin-bottom: 0.6em;
}

p, a, li{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 0.6em;
}

a, em {
    color: #a54d72;
}


.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-auto-flow: dense;
    height: 100%;
    margin: 2rem;
    gap: 1rem;
    
    @media (min-width: 400px) {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .item {
        position: relative;
        border-radius: 1rem;
        background: rgb(255,255,255);
        background: linear-gradient(156deg, rgba(255, 255, 255, 0.2) 0%, rgba(255,190,220,0.3) 100%);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 1.5rem;
        transition: all 1s ease-out;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
    }

    .item:hover {
        background: rgba(255,190,220,0.3);
    }

    .item_hashtag {
        margin-top: auto;
        margin-bottom: 0;
        align-self: flex-end;
    }

    .item_hashtag_img {
        margin-bottom: 0;
        align-self: flex-end;
    }

    .item_subtitle {
        margin-bottom: 0;
    }

    .item_techno {
        padding-left: 1rem;
    }


    .item_thumbnail {
        position: relative;
        margin-top: auto;
        cursor: pointer;

        .item_thumbnail_img {
            max-width: 100%;
            transition: ease-out 0.3s;    

        }

        .item_thumbnail_svg {
            opacity: 0;
            transition: ease-out 0.3s;    
            width: 3rem;
            position: absolute;
            right: 50%;
            transform: translate(50%, -50%);
            top: 50%;
        }
    }
    
    .item_thumbnail:hover .item_thumbnail_img {
        filter: brightness(50%);
    }

    .item_thumbnail:hover .item_thumbnail_svg {
        opacity: 1;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    border-radius: 1rem;
    background: rgb(255,255,255);
    background: linear-gradient(156deg, rgba(255, 255, 255, 0.2) 0%, rgba(255,190,220,0.3) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 200;
    width: 70%;
    max-height: 90%;
    overflow: hidden;

    img {
        max-width: 90%;
        margin: auto;
    }

    .modal_svg {
        width: 3rem;
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .modal_gallery {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 720px) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            justify-items: center;
        }
    }

    .modal_gallery_thumbnail {
        max-height: 6rem;
        display: block;

        @media (min-width: 720px) {
            max-height: 10rem;
        }
    }
}

.modal.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    z-index: 1;
}

.hidden {
    display: none;
}